.fondoMainD{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #C5CBD3;
}
.card{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#d41e31,#494f8f);
}
.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 400px;
    transition: 0.5s;
}
.card:hover img{
    left: 90%;
    height: 460px;
}
.card .content-delivery{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.card:hover .content-delivery{
    opacity: 1;
    visibility: visible;
    left: 0%;
}
.card .content-delivery h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}
.card .content-delivery p{
    padding: 20px 0px;
    color: #fff;
}
.card .content-delivery a{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}
.card .content-delivery a:hover{
    background-color: #3088e0;
}
@media(max-width:991px){
    .card{
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }
    .card:hover{
        height: 600px;
    }
    .card:hover img{
        left: 50%;
        height: 350px;
    }
    .card .content-delivery{
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media(max-width: 420px){
    .card .content-delivery{
        padding: 30px;
    }
    .card:hover img{
        height: 300px;
    }
}