@import url('https://fonts.googleapis.com/css2?family=Open+Snas&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.Barra-main nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 75px;;
    color: white;
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color: #6FD60F;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 236px;
    background-color: rgba(0,0,0,.5);    
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: #7FD533;
    
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
@media(max-width: 915px){
    .menu-horizontal{
        flex-direction: column;
    }
}