body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
header{
    display: flex;
    min-height: 100px;
    background-color: #0AC871;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.info-header nav a{
    font-weight: bold;
    padding-right: 20px;
}
.info-header nav a:hover{
    color: white;
    font-size: 20px;
    transition: .4s;
}
.logo{
    display: flex;
}
.logo img{
    width: 150px;
    height: 80px;
    margin-right: 900px;
    margin-bottom: 10px;
}
@media(max-width:1070px){
    header{
        flex-direction: column;
    }
    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .info-header nav{
        margin-top: 70px;
        padding-left: 10px;
        padding: -20px 0px;
    }
}


